<a href="https://colab.research.google.com/github/sharad22253/cie-2/blob/sharad/cie3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_error, r2_score
df=pd.read_csv('/content/archive (1).zip')
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [ ]:
df.info()
df.describe()
df.head()
df.duplicated()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [ ]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
numeric_means = df.select_dtypes(include=['number']).mean()
df2 = df.fillna(numeric_means)
df2.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
X = pd.DataFrame(np.c_[df2['PetalWidthCm'], df2['PetalLengthCm']], columns = ['PetalWidthCm','PetalLengthCm'])
Y = df2['Id']

In [ ]:

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 8, random_state=0)
print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

     PetalWidthCm  PetalLengthCm
76            1.4            4.8
71            1.3            4.0
134           1.4            5.6
51            1.5            4.5
73            1.2            4.7
..            ...            ...
9             0.1            1.5
103           1.8            5.6
67            1.0            4.1
117           2.2            6.7
47            0.2            1.4

[142 rows x 2 columns]
     PetalWidthCm  PetalLengthCm
114           2.4            5.1
62            1.0            4.0
33            0.2            1.4
107           1.8            6.3
7             0.2            1.5
100           2.5            6.0
40            0.3            1.3
86            1.5            4.7
76      77
71      72
134    135
51      52
73      74
      ...
9       10
103    104
67      68
117    118
47      48
Name: Id, Length: 142, dtype: int64
114    115
62      63
33      34
107    108
7        8
100    101
40      41
86      87
Name: Id, dtype: int64

In [ ]:
model = DecisionTreeClassifier(depth)
model.fit(X_train, Y_train)

In [ ]:
model.score(X_train, Y_train)

0.6830985915492958

In [ ]:
model.score(X_test, Y_test)

0.0

In [ ]:
y_pred = model.predict(X_train)
mse = mean_squared_error(Y_train, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(Y_train, y_pred)
print("Mean Squared Error:", mse)
print("Root Mean Squared Error:", rmse)
print("R-squared:", r2)

Mean Squared Error: 258.71830985915494
Root Mean Squared Error: 16.084722871692723
R-squared: 0.8640330140855526

In [ ]:
y_pred = model.predict(X_test)
mse = mean_squared_error(Y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(Y_test, y_pred)
print("Mean Squared Error:", mse)
print("Root Mean Squared Error:", rmse)
print("R-squared:", r2)

Mean Squared Error: 411.125
Root Mean Squared Error: 20.276217595991614
R-squared: 0.6939860204924229