<a href="https://colab.research.google.com/github/sharad22253/cie-2/blob/main/cieeee_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.metrics import accuracy_score
from sklearn.datasets import fetch_california_housing
housing=fetch_california_housing()

In [2]:
df=pd.DataFrame(housing.data,columns=housing.feature_names)
df['PRICE']=housing.target
print(df)

       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
...       ...       ...       ...        ...         ...       ...       ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude  PRICE
0        -122.23  4.526
1        -122.22  3.585
2        -122.24  3.521
3        -122.25  3.413
4        -122.25  3.422
...          ...    ...
20635    -121.09  0.781
20636    -121.21  0.771
20637    -121.22  0.923
20638    -121.32  0.847
20639    -121.24  0.894

[20640 rows x 9 columns]

In [3]:
df.head()
df.describe()
df.info()
df['PRICE'].unique()
df.duplicated()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
 8   PRICE       20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

0        False
1        False
2        False
3        False
4        False
         ...
20635    False
20636    False
20637    False
20638    False
20639    False
Length: 20640, dtype: bool

In [4]:
df.isnull().sum()
n_means=df.select_dtypes(include=['number']).mean()
df2=df.fillna(n_means)
print(df2)

       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
...       ...       ...       ...        ...         ...       ...       ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude  PRICE
0        -122.23  4.526
1        -122.22  3.585
2        -122.24  3.521
3        -122.25  3.413
4        -122.25  3.422
...          ...    ...
20635    -121.09  0.781
20636    -121.21  0.771
20637    -121.22  0.923
20638    -121.32  0.847
20639    -121.24  0.894

[20640 rows x 9 columns]

In [7]:
X=pd.DataFrame(np.c_[df2['HouseAge'],df2['Population']],columns=['HouseAge','Population'])
Y=df2['PRICE']

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=8,random_state=0)
print(X_train)
print(X_test)
print(y_train)
print(y_test)

       HouseAge  Population
964        12.0      3329.0
8681       44.0       373.0
17935      42.0       659.0
9228       21.0       861.0
13579      52.0       968.0
...         ...         ...
13123      20.0       712.0
19648      27.0       647.0
9845       31.0       704.0
10799      34.0      1052.0
2732       15.0      1024.0

[20632 rows x 2 columns]
       HouseAge  Population
14740      22.0      1551.0
10101      32.0      1296.0
20566      29.0      1554.0
2670       37.0       390.0
15709      25.0       649.0
439        52.0       218.0
845        16.0      1117.0
3768       37.0       794.0
964      3.397
8681     2.656
17935    2.379
9228     0.922
13579    0.795
         ...
13123    1.446
19648    1.594
9845     2.893
10799    4.846
2732     0.694
Name: PRICE, Length: 20632, dtype: float64
14740    1.369
10101    2.413
20566    2.007
2670     0.725
15709    4.600
439      1.200
845      2.470
3768     3.369
Name: PRICE, dtype: float64

In [12]:
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [13]:
model.coef_

array([9.89524694e-03, 7.47097269e-06])

In [14]:
model.intercept_

1.7744445390778876

In [16]:
df4=model.score(X_train,y_train)
print(df4)

0.01123369437537558

In [15]:
df3=model.score(X_test,y_test)
print(df3)

-0.08933096939101826

In [25]:
y_pred=model.predict(X_train)
mse=mean_squared_error(y_train,y_pred)
rmse=np.sqrt(mse)
mae=mean_absolute_error(y_train,y_pred)
r2=r2_score(y_train,y_pred)
print('mean squared error:',mse)
print('root mean squared error:',rmse)
print('mean absolute error:',mae)
print('r2 score:',r2)

mean squared error: 1.3165547105469873
root mean squared error: 1.1474121798843637
mean absolute error: 0.9060750926300605
r2 score: 0.01123369437537558

In [26]:
y_pred=model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
mae=mean_absolute_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print('mean squared error:',mse)
print('root mean squared error:',rmse)
print('mean absolute error:',mae)
print('r2 score:',r2)

mean squared error: 1.5128136772094556
root mean squared error: 1.229964908934176
mean absolute error: 0.9808486323891634
r2 score: -0.08933096939101826